body{
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}

.nav-logo{
    background-color: #03a351;
    width: 100%;
    height: 140px;
    padding-left: 10rem;
    position: fixed;
    top:0;
}

.nav-logo img{
    width: 170px;
    height: 140px;
    padding-left: 2rem;
}

.navbar{
    position: fixed;
    top: 150px;
    color: #fff;
}

.navbar-nav{
    font-size: 18px;
}

.navbar-nav a:hover{
    transition: 0.5s;
    background-color: #000;
    color:rgb(255, 0, 0);
}

.content{
    padding: 60px 0;
}

.conjunt{
    margin: 0 0 40px;
}

.title h1{
    color: #696969;
    font-size: 80px;
    line-height: 600px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.text{
    padding: 0 35px 0 0;
}

.text p{
    line-height: 24px;
    margin:0 0 15px;
} 

.imagem img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}