body{
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
}

.menu1{
    background-color: #32cd32;
    overflow: hidden;
    position: fixed;
    width: 100%;
    align-items: center;
}

.logo{
    color:#333;
    float: left;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.menu2{
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    align-items: center;
    border: 1px solid #333;
}

.menu2 a{
    color:#333;
    float: left;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}

.menu2 a:hover{
    transition: 0.5s;
    background-color: #e4e4e4;
    color: #333;
}